Pandas - Series

In [18]:
import numpy as np
import pandas as pd

In [19]:
labels = ['a','b','c']
my_data = [10, 20, 30]
arr = np.array(my_data)
d = {'a':10,'b':20,'c':30}

In [20]:
pd.Series(data= my_data)

0    10
1    20
2    30
dtype: int64

In [21]:
pd.Series(data= my_data, index=labels)

a    10
b    20
c    30
dtype: int64

In [22]:
pd.Series(my_data, labels)

a    10
b    20
c    30
dtype: int64

In [23]:
pd.Series(arr)

0    10
1    20
2    30
dtype: int32

In [24]:
labels

['a', 'b', 'c']

In [25]:
pd.Series(data=[sum, print, len])

0      <built-in function sum>
1    <built-in function print>
2      <built-in function len>
dtype: object

In [29]:
ser1 = pd.Series([1,2,3,4],['Bangladesh','USA','Japan','UK'])
ser1

Bangladesh    1
USA           2
Japan         3
UK            4
dtype: int64

In [38]:
ser2 = pd.Series([1,2,3,4],["USA","Germany","Bangladesh","Japan"])
ser2

USA           1
Germany       2
Bangladesh    3
Japan         4
dtype: int64

In [39]:
ser1['USA']

2

In [40]:
ser1 + ser2

Bangladesh    4.0
Germany       NaN
Japan         7.0
UK            NaN
USA           3.0
dtype: float64